.sucheleiste {
  background: linear-gradient(to bottom, #5e1dec, #0298d5);
  min-height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}